//颜色定义规范
$bac1: linear-gradient(270deg, #DC060E 0, #483F94 100%); // 主题背景1
//$bac1: red; // 主题背景1
$bac2: #2C2F48; // 主题背景2
$bac3: linear-gradient(270deg, #002766 0%, #1890FF 100%);
; // 主题背景3
$fontc1: #fff;

// 按钮背景,文字颜色
$btn1: #1890FF;
$btn2: #597AEF;
$btn3: #CF1322;

$color1: red;
$color2: blue;
$color3: pink;



